<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form action="http://localhost:5000/login" method="post" enctype="multipart/form-data">

    <label>Upload_Year</label>
    <input type="file" id="avatar" name="nm" accept=".xls, .xlsx">
    <input type="file" id="avatar1" name="nm1" accept=".xls, .xlsx">
    <input type="text" id="sheet" name="sheet" >
    <input type="text" id="sheet1" name="sheet1">
    <!-- <p>Enter Name:</p>
        <p><input type = "text" name = "nm" /></p>-->
        <p><input type = "submit" value = "submit" /></p> 
  </form>
</body>

</html>